@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Filxgirl';
  src: url('fontes/Filxgirl.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
main{
    font-family: "Filxgirl", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1{
    font-size: 2.5em;
}