@charset "UTF-8";

/* 
id = #
class = .
*/
body{
    background-color: rgb(250, 234, 236);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(228, 138, 153);
}
#principal{
    text-align: center;
    background-color: white;
}
h2{
    color: rgb(150, 89, 99)
}
p{
    text-align: justify;
}
.básico{
    color: rgb(133, 202, 133);
}
.intermediário{
    color: rgb(211, 211, 98);
}
.avançado{
    color: rgb(194, 74, 74);
}