@charset "UTF-8";

* { 
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(160deg, white, #fdcaba); 
}
main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #7f625988;
}
h1 {
    color: #7F6259;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.712);
}
h2 {
    color: #FFA68B;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.63);
}
p {
    text-align: justify;
}